body {
    background-color: #FFF;
}

.navbar{
    margin-bottom: 0;
    border-radius: 0;
}

.wrapper {
    padding: 20px 20px 50px;
    border-left: 2px solid #ECF0F1;
    border-right: 2px solid #ECF0F1;
}

.sidebar{
    padding: 30px 10px 20px 20px;
}

.sidebar .widget{
    padding-bottom: 10px;
}

/*
.sidebar .widget h3{
    padding-bottom: 10px;
}
*/
.most-popular li{
    padding: 0 5px;
}

.most-popular td.counter{
    width: 20px;
    padding: 0;

}
.most-popular td.counter p{
    width: 40px;
    padding: 8px 12px;
    height: 40px;
    margin-bottom: 0;
    display: block;
    background-color: rgba(218, 223, 225, 0.5);
}
.most-popular a{
    text-decoration: none;
}
/*.most-popular tr{
    padding: 12px 8px;
}*/

.genreCloud h3{
    margin-top: 0;
}

.genreCloud a{
    margin-bottom: 10px;
}

.show-info .thumbnail img {
    width: 100%;
}

.thumbimg {
  min-height: 200px;
  max-height: 200px;
}

.raiting {
    margin-bottom: 10px;
}

.btn-vote{
    color: #555;
    background-color: rgba(218, 223, 225, 0.5);
    border-color: rgba(218, 223, 225, 0.5);
    text-decoration: none !important;
}
.btn-vote.up{ color: #1BBC9B; }
.btn-vote.down{ color: #F22613; }

.comments{
    padding-bottom: 20px;
}

.user-buttons {
    padding: 10px 0;
    margin: 10px 0 0;
}

.profile {
    background-color: #2B3E51;
    border: 1px solid #2B3E51;
}

.profile img {
    display: block;
    border: 10px solid rgba(255, 255, 255, 0.3);
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.profile p {
    text-align: center;
    color: #fff;
}

.list-group-item {
    background-color: #fff;
    border-radius: 0px !important;
    border: 1px solid #DDD;
}

.list-group-item.active, .list-group-item:hover {
    border-left: 3px solid #2B3E51;
    background-color: #F8F7F5;
}

.form-horizontal .control-label{
    text-align: left;
}

/*Ignore this tag. It is to give space.*/
#space {padding: 10px;}

/* Footer
-------------------------------------------------- */

.footer {
  /*border-top: 1px solid #e5e5e5;*/
  background-color: #f5f5f5;
}
.footer p {
  color: #A8A7A7;
  font-size: 11px;
}
