/*
.top-header {
    padding: 20px 15px 10px 15px;
    margin-bottom: 7px;
    color: #FFF;
    background-color: #000;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.top-header .logo {
    padding-right: 15px;
}
.navbar-inner {
    background: none;
    border: 0;
}
.navbar .nav > li > a{
text-shadow: none;
color: #ccc;
}
.navbar .nav > li > a:hover{
color: #fff;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus{
    background: none;color: #fff;
}
.top-header li {
line-height: 0px;
}
.dropdown-menu .nav-header {
line-height: 20px;
}
.navbar {
margin-bottom: 0px;
}
.navbar-inner {
min-height: 0px;
}*/



.widget {
top: 10%;
background-color: white;
border: 1px solid #f4f4f4;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
outline: none;
-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
-webkit-background-clip: padding-box;
-moz-background-clip: padding-box;
background-clip: padding-box;
margin-bottom: 20px;
}
.widget h5{
padding: 9px 15px;
border-bottom: 1px solid #EEE;
line-height: 10px;
text-transform:uppercase;
}
h5.search {
text-transform:none;
}
.widget .table{
    margin-bottom: 2px;
}
.widget td{
    padding-top: 4px;
    padding-bottom: 4px;
}
.widget-page {
    padding-top: 10px;
}
.listing-popover {
    width: 400px;
}
.more {
    padding: 16px 12px;
}
.thumbnails {
    padding: 0 10px;
}

.thumbnail .caption{
    padding: 2px 1px;
}
.widget .thumbnail > img,#similiar .thumbnail > img {
    max-height: 133px;
    width: 100%;
}
.thumbnails li {
    margin-bottom:0;
}
.table caption{
    text-align: left;
    padding: 5px;
    background: #e9e9e9;
    color: #08C;
}
.requests-page, .search-page {
    padding-bottom: 25px;
}
.requests-page p, .search-page p{
    padding: 5px 15px;
}
.search-page img{
    width: 30px;
    height: 45px;
    padding: 0px 5px;
}
.requests-page img.cover{
    width: 60px;
    height: 75px;
    margin-right: 5px;
}
.register h5,.login h5{
    background: #f8f8f8;
    width: 100px;
    text-align: center;
    padding: 5px;
    margin: 0;
}
.register-content{
    background: #f8f8f8;
    padding: 20px 0;
}
.login-content {
    background: #f8f8f8;
    padding: 25px 0;
}


.med-select {
    width: 110px;
}
.small-select {
    width: 80px;
}
#user-movie {
    text-align: center;
}
#movie-info .popover {
    display: block;
    position: relative;
    margin-top: 0px;
    margin-bottom: 10px;
}
.widget-page .thumbnails li {
    width: 16%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.abc .nav-pills {
    margin-bottom: 7px;
    border-bottom: 1px solid #ccc;
}

.abc .nav-pills > li > a {
padding-right: 10px;
padding-left: 9px;
margin-right: 2px;
line-height: 14px;
border-bottom-right-radius:0;
border-bottom-left-radius:0;margin-bottom: 0px;
}
.sorting .nav {
padding-top: 0px;

}
.sorting .nav {
margin-bottom: 0px;
}
.sorting {
    padding:0;
}

.movie-single .movie-cover img {
    /*max-width: 170px;
    max-height: 250px;*/
}
.movie-single .img-polaroid {

}
.movie-info h2{
    font-size: 18px; line-height: 0px;
    margin-bottom: 20px;
}
.movie-details {
    margin-top: 0px;
}
.movie-details .table td{
    border: 0;
}
.movie-details .table tr:first-child{
    border-top: 1px solid #dddddd;
}
.movie-details .table td.sidebar {
    border-right: 1px solid #dddddd;
    margin: 0;
}
.movie-details .table tr{
    padding-top: 25px;
}
.movie-details .table td{
padding-top: 1px;
padding-bottom: 0;
text-align: center;
}
.movie-details .table td.sideleft,.movie-links table td.sideleft {
text-align: left;
}
.movie-details .table td.grey {
    color: #ccc;
}
.movie-cover .btn-warning,.movie-cover .btn-addw,.movie-cover .btn-info,.movie-cover .btn-primary{
    margin: 7px;
}
.movie-cover .btn-group{
margin-left: 9px;
}
.fb-comments, .fb-comments span, .fb-comments iframe { width: 100% !important; }

.movie-links {
    margin-top: 20px;
}
.movie-links .span2 {
    margin-top: 13px;
}
.movie-links select.btn {
    -webkit-appearance: button;
       -moz-appearance: button;
            appearance: button;
    width: 100%;
}

.movie-links select.btn {
    height: auto;
    line-height: 16px;
    padding-right: 16px;
    margin-top: 5px;
}

.movie-links select.btn + .caret {
    margin-left: 140px;
    margin-top: -14px;
}
.movie-links table td,.movie-links table th {
    text-align: center;
}
.movie-links .greyefecct{
    background-color: #d8ecf5;
    border-top-left-radius: 50px 70px;
    border-top-right-radius: 50px 70px;
}

.master span {
    cursor: pointer;
}
.green {
    color: green;
}
.red {
    color: red;
}
.showmore td{
    padding: 2px;
    background: #cde9f5;
    cursor: pointer;
}
.user-buttons h5 {
    line-height: 0;
    color: #3385b2;
    padding-top: 5px;
}
.avatar img {
    width: 145px;
    height: 145px;
}
.panel {
    margin-top: 25px;
}
.panel .tab-content{
    background: #f8f8f8;
}
.panel .tabs-left > .nav-tabs > li a,.messages .nav-tabs > li a{
    background: #f8f8f8;
    border: 0;
}
.panel .tabs-left > .nav-tabs > li a:hover,.messages .nav-tabs > li a:hover {
    background: #ccc;
    border: 0;
}
.panel .tabs-left > .nav-tabs > li.active a,.messages .nav-tabs > li.active a{
    background: #ccc;
    border: 0;
    border-color: #ddd transparent #ddd #ddd;
}
.panel .tabs-left > .nav-tabs {
    margin-right: 0px;
}
.panel .settings{
    padding: 25px 0;
}
.favorites img.cover  {
    width: 40px;
    height: 60px;
}
.tv_schedule .nav-tabs > li,.tv_schedule  .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.tv_schedule .nav-tabs,.tv_schedule  .nav-pills {
    text-align:center;
}
.tv_schedule .nav-tabs{
    margin-bottom: 0;
}
.tv_schedule thead td {
    border: 1px solid #ccc;
}
.userlinks {
    padding: 15px;
}
.messages {
    margin-left: 0!important;
}
#compose {
    padding: 20px 0;
}
.messages th{
    padding: 1px 7px;
}
#message p {
    padding-top: 5px;
}
.top-header .icon-envelope {
    margin-right: 20px;
}
form#search{
    margin:0;
}
#review,#soundtrack,.ajax {
    display: none;
}
.additonal {
    font-size: 9px;
    margin-left: 12px;
}
.thumbimg {
    width: 214px;
    height: 137px;
}
.thumbnail {
    /*min-height: 180px;*/
}
#topsocial {
    margin-left: 28px;margin-top:9px; max-height: 25px;
}
div .fb_reset {
    display: inline;
}
div .like {
    padding-left: 5px;display: inline-block;font-size: 1px;
}
div .twitter {
   padding-top: 5px;padding-left: 15px;font-size: 1px;display: inline-block;
}



/* faq
-------------------------------------------------------------------*/
.faq-search {
    margin-bottom: 2em;

    text-align: right;
}
.faq-search input {
    width: 96%;
    display: block;
    padding: 2%;
}
.faq-empty {
    display: none;
}
.faq-toc {
    padding: 1.5em 0;
    margin: 2em 0 0;
    border: 1px dotted #CCC;
    border-right: none;
    border-left: none;
}
.faq-toc ol {
    padding: 0;
    margin: 0;
}
.faq-toc li {
    margin-bottom: .75em;
    list-style: none;
}
.faq-toc a {
    margin-left: .5em;
}
.faq-list {
    padding: 0;
    margin: 3em 0 0;
    list-style: none;
}
.faq-list li {
    display: table;
    margin-bottom: 2em;
}
.faq-icon {
    display: table-cell;
    padding-right: 1.25em;
    vertical-align: top;
}
.faq-text {
    display: table-cell;
    vertical-align: top;
}

.faq-number {
    width: 32px;
    height: 32px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    line-height: 32px;
    color: #FFF;
    background: #F90;
    border: 3px solid #FFF;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
    border-radius: 100px;
    text-shadow: 1px 1px 2px rgba(0,0,0,.4);
}
.btn-support-ask {
display: block; font-size: 22px; padding: 14px 0; font-weight: 600; margin-bottom: .75em;
}
.btn-support-contact {
display: block; padding: 12px 0; font-size: 18px; font-weight: 600;
}

/*------------------------------------------------------------------
[ Widget / .widget ]
*/
.widget {
  position: relative;
  clear: both;
  width: auto;
  margin-bottom: 2em;
  /* Clearfix Hack */

  /* Widget Table */

  /* Widget Plain */

  /* Widget Box */

}
.widget .widget-header {
  position: relative;
  height: 40px;
  line-height: 40px;
  background: #E9E9E9;
  background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e9e9e9));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  /* Opera11.10+ */

  background: -ms-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  /* IE10+ */

  background: linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
  border: 1px solid #D5D5D5;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-background-clip: padding-box;
}
.widget .widget-header h3 {
  top: 2px;
  position: relative;
  left: 10px;
  display: inline-block;
  margin-right: 3em;
  font-size: 14px;
  font-weight: 600;
  color: #555;
  line-height: 18px;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}
.widget .widget-header [class^="icon-"],
.widget .widget-header [class*=" icon-"] {
  display: inline-block;
  margin-left: 13px;
  margin-right: -2px;
  font-size: 16px;
  color: #555;
  vertical-align: middle;
}
.widget .widget-content {
  padding: 20px 15px 15px;
  background: #FFF;
  border: 1px solid #D5D5D5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.widget .widget-header + .widget-content {
  border-top: none;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.widget.widget-nopad .widget-content {
  padding: 0;
}
.widget .widget-content {
  *zoom: 1;
}
.widget .widget-content:before,
.widget .widget-content:after {
  display: table;
  content: "";
  line-height: 0;
}
.widget .widget-content:after {
  clear: both;
}
.widget.widget-table .widget-content {
  padding: 0;
}
.widget.widget-table .table {
  margin-bottom: 0;
  border: none;
}
.widget.widget-table .table tr td:first-child,
.widget.widget-table .table tr th:first-child {
  border-left: none;
}
.widget.widget-plain {
  background: transparent;
  border: none;
}
.widget.widget-plain .widget-content {
  padding: 0;
  background: transparent;
  border: none;
}
.widget.widget-box .widget-content {
  background: #E3E3E3;
  background: #FFF;
}

/*
|--------------------------------------------------------------------------
| UItoTop jQuery Plugin 1.2
| http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
|--------------------------------------------------------------------------
*/

#toTop {
    display:none;
    text-decoration:none;
    position:fixed;
    bottom:10px;
    right:10px;
    overflow:hidden;
    width:51px;
    height:51px;
    border:none;
    text-indent:100%;
    background:url(/assets/img/ui.totop.png) no-repeat left top;
}

#toTopHover {
    background:url(/assets/img/ui.totop.png) no-repeat left -51px;
    width:51px;
    height:51px;
    display:block;
    overflow:hidden;
    float:left;
    opacity: 0;
    -moz-opacity: 0;
    filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
    outline:none;
}

#inbox_link {
background: url(http://www.iwatchonline.to/f/public/style_images/master/icon_inbox.png) no-repeat top;
}

#inbox_link {
vertical-align: middle;
width: 18px;
height: 15px;
padding: 7px 24px 8px 12px;
position: relative;
}

.ipsHasNotifications {
padding: 0px 4px;
height: 12px;
line-height: 12px;
background: #cf2020;
color: #fff !important;
font-size: 9px;
text-align: center;
-webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.1) inset;
-moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.1) inset;
box-shadow: 0px 2px 4px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.1) inset;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
position: absolute;
top: 4px;
left: 3px;
}