body {
  /*font: 12px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  color: #444;
  padding-bottom: 3em;
  min-width: 380px;
}


/*a { color: #36C265; }
a:hover { color: #0E9139; }*/

a { color: #5580AF; }
a:hover { color: #2D649D; }

.container { max-width: 1280px; }
@media (max-width: 768px) {
    body > .container { padding: 0px; }
    body > .container .wrapper { padding-right: 15px; padding-left: 15px; }
    body > .container footer { padding-right: 15px; padding-left: 15px; }
    body > .container footer .pull-right{ display: none !important; }
}
.wrapper {
    background-color: #FBFBFB;
    overflow: hidden;
    display: block;
    border: 1px solid #eee;
    border-top: none;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 50px 0 30px;
}

.wrapper .form-group textarea {
    max-width: 100%;
    min-height: 100px;
}

.login { margin-top: 10%; }
.login h1{ margin-bottom: 1.4em; }



.navbar {
    background:#fff;
    color:#444;
    border-bottom:1px solid #444;
    margin-bottom: 0px;
}
/*.navbar .container{
    padding-top: 10px;
    padding-bottom: 10px;
}*/
.navbar .nav > li > a{
    padding-top: 28px;
    padding-bottom: 28px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
background-color: transparent;
}
.navbar-brand{
    font-size:20px;
    padding-top: 27px;
    /*padding-bottom: 20px;*/
    font-weight:500;
    color: #444;
    margin-right: 30px;
}


.form-horizontal .control-label {
text-align: left;
}

footer{
    margin: 20px 0;
}




/* edit #editor */
.content #editor
{
    background-color:rgb(245,245,245);
    border:0;
    outline:0;
    resize:none;
    color:#666;
    box-sizing:border-box;
    font-size: 12px;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

}
.prettyprint, #editor
{
  /*font-family: Monaco,"Bitstream Vera Sans Mono","Lucida Console",Terminal,monospace;*/
    position:fixed;
    top:0;
    left:0;
    margin:0;
    line-height:1.8em;
  padding: 3em 320px 8em 3em;
  height:100%;
  width:100%;
}
